@charset "UTF-8";

// ***********************************************
//  Global Variables
// ***********************************************
$directory: "/assets/images/";

@import url('//fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Noto+Serif+JP|Open+Sans&display=swap');


// Size
// =====================================
$sp-min-width: 320px;
$sp-max-width: 480px;

$pc-min-width: 640px;
$tb-max-width: 1024px;

$header-height: 55px;
$footer-height: 55px;

$duration: 0.3s;
$alpha: 0.7;


// Color
// =====================================
$color-pallet: (
    "blue": #52AFE5,
     "red": #F2564C,
  "yellow": #F3D058,
   "green": #32C77C,
  "purple": #878FCA,
   "black": #858687,
);

$color-brand: (
   "future": #F8D100,
  "reminis": #878ECC,

  "gray": #B9BABB,
   "red": #F55546,
  "blue": #4DAEE8,
);

$color-text: (
  "base": #6F6F6F,

   "future": map-get($color-brand, "future"),
  "reminis": map-get($color-brand, "reminis"),

  "gray": map-get($color-brand, "gray"),
);

$shadow: rgba(#000, 0.3);


// Font Family
// =====================================
$ff:
  "Noto Sans JP",
  Helvetica Neue, -apple-system,
  'BlinkMacSystemFont',
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック",
  "メイリオ", Meiryo, Osaka,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$ff-serif:
  "Noto Serif JP",
  "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
  "游明朝", YuMincho,
  "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;


// Media Queries
// =====================================
$device-dark: "screen and (prefers-color-scheme: dark)";
$device-s: "screen and (max-width: #{$sp-max-width})";
$device-m: "screen and (min-width: #{$tb-max-width+1}) and (max-width: #{$tb-max-width})";
